<%- include ('../layouts/header.ejs') %>

<section class=" vh-100 gradient-custom" style="background-image: url('https://hoylecohen.com/wp-content/uploads/login-page-bg.jpg');">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-3 text-uppercase">Login User</h2>
        <form action="/login" method="post" onsubmit="return allChecking()">
          <!-- Email input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control form-control-lg"
              onchange="emailValidate()"
            />
            <span id="Email"></span>
          </div>
          

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              name="password"
              onchange="passwordValidate()"
            />
            <span id="Password"></span>
          </div>

          <div
            class="d-flex justify-content-around align-items-center"
          ></div>

          <!-- Submit button -->
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block align-items-center mb-4"
            value="Login"
            onclick="emailValidate(),passwordValidate()"
          >
            Login
          </button>

          <a href="/register">Sign up</a><br><br>
          <a href="../admin/login">Admin Login</a>

          <div class="d-flex align-items-center my-4">
            <% if(typeof message !=='undefined' ){ %>
            <span><%= message %></span>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </div>
    </div>
    </div>
  </div>
</section>
<script>
 
  function emailValidate(){
   let emailId=document.getElementById("email").value;
    if(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId)==false){
      document.getElementById("Email").innerHTML="Please enter valid email ";
      return false;
    }else{
      document.getElementById("Email").innerHTML="";
      return true;
    }
  }
  function passwordValidate(){
    let password=document.getElementById("password").value;
    if(password.length <8){
      document.getElementById("Password").innerHTML="please enter valid password";
      return false

    }else{
      document.getElementById("Password").innerHTML="";
      return true;
    }
  }
  function allChecking(){
    if(emailValidate()&&passwordValidate()){
      return true
    }else{
      return false
    }
  }

</script>

<%- include ('../layouts/footer.ejs') %>
